:root {
  --linear-background: linear-gradient(
    135deg,
    hsla(29, 77%, 58%, 1) 0%,
    hsla(28, 77%, 58%, 1) 3%,
    hsla(0, 76%, 64%, 1) 100%
  );
}

body {
  height: 250px;
  width: 500px;
  background: hsla(0, 0%, 0%, 1);

  background: var(--linear-background);
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: aqua;
  margin: -10px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 52px;
  color: #fff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  background: none;
  border: none;
  border: 5px;
  font-size: 48px;
  cursor: pointer;
  color: #fff;
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button::after {
  content: "";
  border: 3px solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
