:root {
  --linear-background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(34, 100%, 50%, 1) 0%,
    hsla(11, 80%, 57%, 1) 100%
  );
}

body {
  height: 400px;
  width: 300px;
  background: hsla(0, 0%, 0%, 1);

  background: var(--linear-background);
}

.header {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: aqua;
  margin: -10px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container > button {
  color: red;
  background-color: #fff;
  border: none;
  border: 5px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
